<head>
  <link rel="stylesheet" type="text/css" href="trix.css">
  <script type="text/javascript" src="trix.js"></script>
</head>
<body>

<h1>New Cheatsheet</h1>
<%= form_for(@cheatsheet) do |f| %>
  
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
    <br><br>
    
    <%= f.hidden_field :content, id: :subject_content %>
    <trix-editor input="subject_content"></trix-editor>

    <%= f.label :topic %>
    <%= f.text_field :topic, class: 'form-control' %>
    
    <%= f.submit "create", class: "btn btn-primary" %>
      
  <% end %>
</body>