<h1><%= @cheatsheet.title %></h1>
<b>Author: </b>
<%= link_to User.find_by(id: @cheatsheet.user_id).name, User.find_by(id: @cheatsheet.user_id) %> <br>
<b>Created Date: </b>
<%= @cheatsheet.created_at.strftime('%Y-%m-%d') %>
<br><br>
<%= (@cheatsheet.content).html_safe %> 

<br><br>

<h4>Tags</h4>
<%= render @cheatsheet.tags %>
