<%= csrf_meta_tags %>
<div class="row">
  <div class="col-xs-12 col-sm-9">
    <h1><%= @cheatsheet.title %></h1>
    <% if current_user.nil? == false && (current_user?(@user) && @cheatsheet.user_id == @user.id) %>
      <%= link_to 'Edit', edit_cheatsheet_path(@cheatsheet) %> |
      <%= link_to 'Delete', cheatsheet_path(@cheatsheet), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <br>
    <br>
    <b>Author: </b>
    <%= link_to User.find_by(id: @cheatsheet.user_id).name, User.find_by(id: @cheatsheet.user_id) %> <br>
    <b>Created Date: </b>
    <%= @cheatsheet.created_at.strftime('%Y-%m-%d') %>
    <br>
    <br>
    <br>
    <%= (@cheatsheet.content).html_safe %>
    <br>
    <br>
    <br>
    Tags:
    <%= render @cheatsheet.tags %>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="col-xs-12 col-sm-3">
    <p>
      <% if logged_in? %>
        <%= render 'favorite_form' %>
      <% end %>
      <section class="stats">
        <%= render 'shared/favorite_stats'  %>
      </section>
    </p>
  </div>
